<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="panel backCircle">
  <div class="mainForm">
    <%= form_for Blog.new do |f| %>
      <h5> Please enter the url of  BLOG...</h5>
      <%= f.text_field :url, placeholder: "Full url please..."   %>
    <% end %>
  </div>
</div>
