<div class="panel backCircle">
  <div class="mainForm">
    <%= form_for Blog.new do |f| %>
      <h5> Please enter the url of  BLOG...</h5>
      <%= f.text_field :url, placeholder: "Full url please..."   %>
    <% end %>
  </div>
</div>
