<div class="row">
  <div class="small-12 medium-4 columns">
    <% @top_words.each do |word| %>
      <div class="wordButton">
        <%= word %>
      </div>
    <% end  %>
  </div>
  <div class="small-12 large-8 columns">
    <% @x_over_time.each do |score| %>
        <hr>
        <%= score %>
    <% end  %>
  </div>
</div>
